<button>
  <cart-toggle>
    <slot />
  </cart-toggle>
</button>

<script>
  import { $isCartOpen } from '../store/cart';

  class CartToggle extends HTMLElement {
      constructor() {
        super();
      }

      toggleCart = () => {
        $isCartOpen.set(!$isCartOpen.get());
      }

      closeCart = () => {
        $isCartOpen.set(false);
      }

      connectedCallback() {
        this.addEventListener('click', this.toggleCart);
      }

      disconnectedCallback() {
        this.closeCart();
        this.removeEventListener('click', this.toggleCart);
      }


    }

    customElements.define('cart-toggle', CartToggle);
</script>
